XSD/isgld-messages.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:isgld="http://www.broservices.nl/xsd/isgld/0.1"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:gldcom="http://www.broservices.nl/xsd/gldcommon/0.1"
           xmlns:gml="http://www.opengis.net/gml/3.2"
           xmlns:brocom="http://www.broservices.nl/xsd/brocommon/3.0"
           xmlns:gmlsf="http://www.opengis.net/gmlsf/2.0"
           targetNamespace="http://www.broservices.nl/xsd/isgld/0.1"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified"
           version="0.1.0">

   <xs:annotation>
      <xs:appinfo source="http://schemas.opengis.net/gmlsfProfile/2.0/gmlsfLevels.xsd">
         <gmlsf:ComplianceLevel>0</gmlsf:ComplianceLevel>
      </xs:appinfo>
   </xs:annotation>

   <xs:import namespace="http://www.broservices.nl/xsd/gldcommon/0.1" schemaLocation="gldcommon.xsd"/>
   <xs:import namespace="http://www.opengis.net/gml/3.2" schemaLocation="gml-profile.xsd"/>
   <xs:import namespace="http://www.broservices.nl/xsd/brocommon/3.0" schemaLocation="brocommon.xsd"/>

   <xs:element name="intakeResponse" type="brocom:IntakeResponseType" />
   <xs:element name="parseFault" type="brocom:ParseFaultType" />

   <xs:element name="GLD_Complete"
               type="isgld:GLD_CompleteType"
               substitutionGroup="gml:AbstractFeature">
      <xs:annotation>
         <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Het brondocument wordt aangeboden wanneer het grondwaterstandonderzoek in een keer volledig wordt vastgelegd en afgesloten. Het brondocument bevat de algemene gegevens, de meetreeks en een einddatum onderzoek.</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="GLD_CompleteType">
      <xs:complexContent>
         <xs:extension base="gml:AbstractFeatureType">
            <xs:sequence>
               <xs:element name="objectIdAccountableParty"
                           minOccurs="1"
                           maxOccurs="1"
                           type="xs:string">
                  <xs:annotation>
                     <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: De identificatie die door of voor de bronhouder is gebruikt om het object in de eigen administratie te kunnen vinden, voordat het was geregistreerd in de basisregistratie ondergrond.
Explanation: Het gegeven wordt alleen uitgeleverd aan de dataleverancier en de bronhouder. Het is in de registratie opgenomen om de communicatie tussen de registerbeheerder en de bronhouder of dataleverancier te vergemakkelijken.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="monitoringPoint"
                           minOccurs="1"
                           maxOccurs="1"
                           nillable="false"
                           type="gldcom:GMW_MonitoringTubePropertyType">
                  <xs:annotation>
                     <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: De buis van een grondwatermonitoringput waarin de metingen zijn utgevoerd.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="researchStartDate"
                           type="xs:date"
                           minOccurs="1"
                           maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: De datum waarop de eerste meting van het grondwaterstandonderzoek is uitgevoerd.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="researchEndDate"
                           type="xs:date"
                           minOccurs="1"
                           maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: De datum waarop de laatste meting van het grondwaterstandonderzoekis uitgevoerd.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="point"
                           minOccurs="1"
                           maxOccurs="unbounded"
                           nillable="false"
                           type="gldcom:MeasurementTVPType">
                  <xs:annotation>
                     <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: De reeks van waterstanden, gemeten in een monitoringbuis van een grondwatermonitoringput. Iedere waterstand representeert de grondwaterstand en/of stijghoogte in de ondergrond ter plekke van het filter van deze monitoringbuis.</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="GLD_CompletePropertyType">
      <xs:sequence minOccurs="1">
         <xs:element ref="isgld:GLD_Complete"/>
      </xs:sequence>
   </xs:complexType>

   <xs:element name="GLD_Start"
               type="isgld:GLD_StartType"
               substitutionGroup="gml:AbstractFeature">
      <xs:annotation>
         <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Het brondocument wordt aangeboden wanneer het grondwaterstandonderzoek is gestart maar nog niet alle metingen bekend zijn.
Explanation: Het brondocument bevat de algemene gegevens. De metingen in de meetreeks worden aangevuld met een .GLD_Add brondocument.</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="GLD_StartType">
      <xs:complexContent>
         <xs:extension base="gml:AbstractFeatureType">
            <xs:sequence>
               <xs:element name="objectIdAccountableParty"
                           minOccurs="1"
                           maxOccurs="1"
                           type="xs:string">
                  <xs:annotation>
                     <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: De identificatie die door of voor de bronhouder is gebruikt om het object in de eigen administratie te kunnen vinden, voordat het was geregistreerd in de basisregistratie ondergrond.
Explanation: Het gegeven wordt alleen uitgeleverd aan de dataleverancier en de bronhouder. Het is in de registratie opgenomen om de communicatie tussen de registerbeheerder en de bronhouder of dataleverancier te vergemakkelijken.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="monitoringPoint"
                           minOccurs="1"
                           maxOccurs="1"
                           nillable="false"
                           type="gldcom:GMW_MonitoringTubePropertyType">
                  <xs:annotation>
                     <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: De buis van een grondwatermonitoringput waarin de metingen zijn utgevoerd.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="researchStartDate"
                           type="xs:date"
                           minOccurs="1"
                           maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: De datum waarop de eerste meting van het grondwaterstandonderzoek is uitgevoerd.</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="GLD_StartPropertyType">
      <xs:sequence minOccurs="1">
         <xs:element ref="isgld:GLD_Start"/>
      </xs:sequence>
   </xs:complexType>

   <xs:element name="GLD_End"
               type="isgld:GLD_EndType"
               substitutionGroup="gml:AbstractFeature">
      <xs:annotation>
         <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Het brondocument wordt aangeboden wanneer het grondwaterstandonderzoek wordt afgesloten. Hierna kunnen er geen metingen meer worden toegevoegd aan de meetreeks van het grondwaterstandonderzoek. Het brondocument bevat alleen een einddatum onderzoek.</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="GLD_EndType">
      <xs:complexContent>
         <xs:extension base="gml:AbstractFeatureType">
            <xs:sequence>
               <xs:element name="researchEndDate"
                           type="xs:date"
                           minOccurs="1"
                           maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: De datum waarop de laatste meting van het grondwaterstandonderzoekis uitgevoerd.</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="GLD_EndPropertyType">
      <xs:sequence minOccurs="1">
         <xs:element ref="isgld:GLD_End"/>
      </xs:sequence>
   </xs:complexType>

   <xs:element name="GLD_Add"
               type="isgld:GLD_AddType"
               substitutionGroup="gml:AbstractFeature">
      <xs:annotation>
         <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Het brondocument wordt aangeboden wanneer er metingen moeten worden toegevoegd aan de meetreeks. Het brondocument bevat één of meer metingen.</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="GLD_AddType">
      <xs:complexContent>
         <xs:extension base="gml:AbstractFeatureType">
            <xs:sequence>
               <xs:element name="point"
                           minOccurs="1"
                           maxOccurs="unbounded"
                           nillable="false"
                           type="gldcom:MeasurementTVPType">
                  <xs:annotation>
                     <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: De reeks van waterstanden, gemeten in een monitoringbuis van een grondwatermonitoringput. Iedere waterstand representeert de grondwaterstand en/of stijghoogte in de ondergrond ter plekke van het filter van deze monitoringbuis.</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="GLD_AddPropertyType">
      <xs:sequence minOccurs="1">
         <xs:element ref="isgld:GLD_Add"/>
      </xs:sequence>
   </xs:complexType>

   <xs:element name="registrationRequest" type="isgld:RegistrationRequestType">
      <xs:annotation>
         <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Het bericht RegistrationRequest is een specialisatie van de abstract klasse RegistrationRequest uit de package brocommon, waaraan het een sourceDocument toevoegt. Met dit bericht kan een nog niet geregistreerd grondwaterstandonderzoek in de BRO worden opgenomen of kan een een geregistreerd grondwaterstandonderzoek aangevuld of voltooid worden.</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="RegistrationRequestType">
      <xs:complexContent>
         <xs:extension base="brocom:RegistrationRequestType">
            <xs:sequence>
               <xs:element name="sourceDocument"
                           type="isgld:SourceDocumentType"
                           minOccurs="1"
                           maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Het element sourceDocument bevat gegevens die in het BRO-systeem geregistreerd zullen worden en die in de catalogus van het registratieobject zijn gespecificeerd, met uitzondering van de gegevens die door het BRO-systeem worden gegenereerd of afgeleid uit het innameverzoek.</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>

   <xs:element name="SourceDocument" type="isgld:SourceDocumentType">
      <xs:annotation>
         <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition:   Het datatype sourceDocument biedt de keuze uit een aantal verschillende typen brondocumenten, waarvan er één opgenomen is in een innameverzoek.</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="SourceDocumentType">
      <xs:choice minOccurs="1" maxOccurs="1">
         <xs:element name="GLD_Complete" type="isgld:GLD_CompleteType"/>
         <xs:element name="GLD_Start" type="isgld:GLD_StartType"/>
         <xs:element name="GLD_Add" type="isgld:GLD_AddType"/>
         <xs:element name="GLD_End" type="isgld:GLD_EndType"/>
      </xs:choice>
   </xs:complexType>
</xs:schema>
