XSD/wml-profile.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema
    xmlns="http://www.w3.org/2001/XMLSchema"
    xmlns:wml2="http://www.opengis.net/waterml/2.0"
    xmlns:om="http://www.opengis.net/om/2.0"
    xmlns:gmd="http://www.isotc211.org/2005/gmd"
    xmlns:gml="http://www.opengis.net/gml/3.2"
    xmlns:swe="http://www.opengis.net/swe/2.0"
    targetNamespace="http://www.opengis.net/waterml/2.0"
    elementFormDefault="qualified"
    version="2.0.1">
  <annotation>
    <documentation>WaterML (WML) profile for BRO.</documentation>
    <documentation>
      OGC WaterML2.0 is designed as an extensible schema to allow encoding of
      data to be used in a variety of exchange scenarios. Example areas of usage are:
      - exchange of data for operational hydrological monitoring programs;
      - supporting operation of infrastructure (e.g. dams, supply systems);
      - cross-border exchange of observational data;
      - release of data for public dissemination;
      - enhancing disaster management through data exchange;
      - exchange in support of national reporting.
      The core aspect of the model is in the correct, precise description of
      time series. Interpretation of time series relies on understanding the
      nature of the process that generated them. This standard provides the
      framework under which time series can be exchanged with appropriate
      metadata to allow correct machine interpretation and thus correct use for
      further analysis. Existing systems should be able to use this model as a
      conceptual bridge between existing schema or systems, allowing consistency
      of the data to maintained. OGC WaterML 2.0 is an OGC Standard.
      Copyright (c) 2012,2014 Open Geospatial Consortium.
      To obtain additional rights of use, visit http://www.opengeospatial.org/legal/.
    </documentation>
    <documentation>BRO wml-profile revision history:
      2.0.1:
      - Number of points (MeasurementTVP) in MeasurementTimeseriesType limited to 10000.
      2.0.0: Orignal version of the BRO wml-profile, extracted from:
      - http://schemas.opengis.net/waterml/2.0/waterml2.xsd
      - http://schemas.opengis.net/waterml/2.0/observationProcess.xsd
      - http://schemas.opengis.net/waterml/2.0/timeseriesObservationMetadata.xsd
      - http://schemas.opengis.net/waterml/2.0/timeseries.xsd
    </documentation>
  </annotation>
  <!-- ====================================================================== -->
  <!--
  <import namespace="http://www.opengis.net/om/2.0" schemaLocation="https://schema.broservices.nl/profile/om/1.0/om-profile.xsd"/>
  <import namespace="http://www.isotc211.org/2005/gmd" schemaLocation="https://schema.broservices.nl/profile/gmd/1.0/gmd-profile.xsd"/>
  <import namespace="http://www.opengis.net/swe/2.0" schemaLocation="https://schema.broservices.nl/profile/swe/1.0/swe-profile.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="https://schema.broservices.nl/profile/gml/1.0/gml-profile.xsd"/>
  -->
  <import namespace="http://www.opengis.net/om/2.0" schemaLocation="om-profile.xsd"/>
  <import namespace="http://www.isotc211.org/2005/gmd" schemaLocation="gmd-profile.xsd"/>
  <import namespace="http://www.opengis.net/swe/2.0" schemaLocation="swe-profile.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="gml-profile.xsd"/>
  <!-- ===================================================================== -->
  <!-- ==================== from observationProcess.xsd ==================== -->
  <!-- ===================================================================== -->
  <!-- ======================== ObservationProcess ========================= -->
  <element name="ObservationProcess" type="wml2:ObservationProcessType" substitutionGroup="gml:AbstractFeature">
    <annotation>
      <documentation>
        A large number of direct in-situ hydrological observations are performed
        by a sensor or sensor system. Common types of sensors include rain gauges,
        level gauges, quality sensors such as temperature, turbidity etc. Manual
        procedures may be also used to make measurements at a particular sampling
        point. These may be ad-hoc visits to particular point that may be of
        interest, or continued visits to a well identified sampling point.
        Procedures that generate derived or synthetic results also exist, such
        as those produced by algorithms or simulations. Algorithms are commonly
        implemented in hydrological software to process data sets for reporting
        or other purposes. Examples include:
        - Temporal interpolation or aggregation;
        - Spatial interpolation;
        - Quality assurance related tasks such as automatic spike removal
        or gap filling;
        - Derivation of new observed phenomena such as calculation of volume
        from stage, discharge (flow) from stage etc.
      </documentation>
    </annotation>
  </element>
  <!-- ..................................................................... -->
  <complexType name="ObservationProcessType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="processType" type="gml:ReferenceType">
            <annotation>
              <documentation>
                A defintion of the type of process used in the observation. This
                may be a Sensor, ManualMethod, Algorithm or Simulation
                (including models).
              </documentation>
            </annotation>
          </element>
          <!-- BRO commented out:
          <element name="originatingProcess" type="gml:ReferenceType" minOccurs="0">
            <annotation>
              <documentation>
                A reference to the original source of the data. For example, if
                this is a post-processed time series (and processType is
                algorithm), this link would specify the original process that
                generated the data, e.g. the sensor. This allows the origin of
                the data to be maintained regardless of the processing that has
                occured to it.
              </documentation>
            </annotation>
          </element>
          <element name="aggregationDuration" type="duration" minOccurs="0">
            <annotation>
              <documentation>
                If the process involves temporal aggregation of a result set,
                the time duration over which data has been aggregated should be
                expressed here. E.g. hourly, daily aggregates.
              </documentation>
            </annotation>
          </element>
          <element name="verticalDatum" type="gml:VerticalDatumPropertyType" minOccurs="0">
            <annotation>
              <documentation>
                Specifies the datum that is used as the zero point for level
                measurements. This can be process-specific as opposed to the
                gauge at the actual monitoring point.
              </documentation>
            </annotation>
          </element>
          <element name="comment" type="string" minOccurs="0" maxOccurs="unbounded">
            <annotation>
              <documentation>
                Comments specific to the process from the operator or system performing the process.
              </documentation>
            </annotation>
          </element>
          -->
          <element name="processReference" type="gml:ReferenceType" minOccurs="0">
            <annotation>
              <documentation>Reference to an external process definition.</documentation>
            </annotation>
          </element>
          <!-- BRO commented out:
          <element name="input" type="gml:ReferenceType" minOccurs="0" maxOccurs="unbounded">
            <annotation>
              <documentation>
                A list of the inputs used in the process. This may be a list of
                references to the data sets used (e.g. model input series) or an
                input array to an algorithm.
              </documentation>
            </annotation>
          </element>
          -->
          <element name="parameter" type="om:NamedValuePropertyType" minOccurs="0" maxOccurs="unbounded">
            <annotation>
              <documentation>
                A soft-typed parameter to allow arbitrary properties to be added
                to the description. This property uses the name-value type
                from ISO19156.
              </documentation>
            </annotation>
          </element>
          <!-- BRO commented out:
          <element name="operator" type="gmd:CI_ResponsibleParty_PropertyType" minOccurs="0" maxOccurs="unbounded">
            <annotation>
              <documentation>
                Describes the party responsible for performing the process. E.g.
                the person performing the method or operating the sensor.
              </documentation>
            </annotation>
          </element>
          -->
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <!-- ..................................................................... -->
  <complexType name="ObservationProcessPropertyType">
    <sequence minOccurs="0">
      <element ref="wml2:ObservationProcess"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <!-- BRO commented out:
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    -->
  </complexType>
  <!-- ===================================================================== -->
  <!-- =============== from timeseriesObservationMetadata.xsd ============== -->
  <!-- ===================================================================== -->
  <!-- ======================== ObservationMetadata ======================== -->
  <!-- ..................................................................... -->
  <element name="ObservationMetadata" type="wml2:ObservationMetadataType" substitutionGroup="gmd:MD_Metadata">
    <annotation>
      <documentation>
        Metadata relating to water observation. Specialisation of the ISO19115 MD_Metadata type.
      </documentation>
    </annotation>
  </element>
  <!-- ..................................................................... -->
  <complexType name="ObservationMetadataType">
    <complexContent>
      <extension base="gmd:MD_Metadata_Type">
        <sequence>
          <!-- BRO commented out:
          <element name="intendedObservationSpacing" type="duration" minOccurs="0">
            <annotation>
              <documentation>Defines the expected interval in which observations can be expected. e.g. daily.</documentation>
            </annotation>
          </element>
          -->
          <element name="status" type="gml:ReferenceType" minOccurs="0">
            <annotation>
              <documentation>Indicates the statues of the observation. E.g. unreleased, verified etc.</documentation>
            </annotation>
          </element>
          <!-- BRO commented out:
          <element name="sampledMedium" type="gml:ReferenceType" minOccurs="0">
            <annotation>
              <documentation>Indicates the medium that was sampled. E.g. water, air, etc.</documentation>
            </annotation>
          </element>
          <element name="maximumGap" type="duration" minOccurs="0">
            <annotation>
              <documentation>Defines the allowed gap between series when joining this time series with another.</documentation>
            </annotation>
          </element>
          -->
          <element name="parameter" type="om:NamedValuePropertyType" minOccurs="0" maxOccurs="unbounded">
            <annotation>
              <documentation>A soft-typed parameter to allow extension through name-value pairs.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <!-- ..................................................................... -->
  <complexType name="ObservationMetadataPropertyType">
    <!-- BRO changed sequence minOccurs from 0 to 1 -->
    <sequence>
      <element ref="wml2:ObservationMetadata"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <!-- BRO commented out:
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
		-->
  </complexType>
  <!-- ===================================================================== -->
  <!-- ======================== from timeseries.xsd ======================== -->
  <!-- ===================================================================== -->
  <!-- ======================== ObservationProcess ========================= -->
  <!-- ================ Base level time-value pair metadata ================ -->
  <element name="TVPMetadata" type="wml2:TVPMetadataType"/>
  <!-- ..................................................................... -->
  <complexType name="TVPMetadataType">
    <sequence>
      <!-- BRO commented out:
      <element name="quality" type="gml:ReferenceType" minOccurs="0">
        <annotation>
          <documentation>
            Defines the quality of the point (or the default if it is the defaultTimeValuePair)
            using an OGC WaterML2.0 quality code. The qualifier element should
            be used for other assertions (e.g. using internal codes).
          </documentation>
        </annotation>
      </element>
      <element name="nilReason" type="gml:ReferenceType" minOccurs="0">
        <annotation>
          <documentation>
            Specifies the reason for a null point (xsi:nil='true'). Must be
            present if the value is null.
          </documentation>
        </annotation>
      </element>
      <element name="comment" type="string" minOccurs="0">
        <annotation>
          <documentation>Free text comment associated with the data point.</documentation>
        </annotation>
      </element>
      <element name="relatedObservation" type="om:ObservationContextPropertyType" minOccurs="0" maxOccurs="unbounded">
        <annotation>
          <documentation>
            Defines a reference to an observation that is related to this point.
            E.g. derived from a sample.
          </documentation>
        </annotation>
      </element>
      -->
      <element name="qualifier" type="swe:QualityPropertyType" minOccurs="0" maxOccurs="unbounded">
        <annotation>
          <documentation>
            A general qualifier for the point to define influencing conditions,
            or other qualifying information. A broader, more flexible location for qualifiers.
          </documentation>
        </annotation>
      </element>
      <!-- BRO commented out:
      <element name="processing" type="gml:ReferenceType" minOccurs="0">
        <annotation>
          <documentation>
            Defines what processing has occured on the data point using a
            reference to a code item.
          </documentation>
        </annotation>
      </element>
      <element name="source" type="gml:ReferenceType" minOccurs="0">
        <annotation>
          <documentation>
            Defines the source of the value using a reference to an appropriate
            resource. This is used where the timeseries may be aggregated from
            multiple sources.his can be an internal link to
            om:OM_Observation/om:metadata/wml2:ObservationMetadata/gmd:
            identificationInfo/gmd:MD_DataIdentification
          </documentation>
        </annotation>
      </element>
      -->
    </sequence>
  </complexType>
  <!-- ..................................................................... -->
  <complexType name="TVPMetadataPropertyType">
    <sequence>
      <element ref="wml2:TVPMetadata"/>
    </sequence>
    <!-- BRO: commented out: attributeGroup ref="gml:OwnershipAttributeGroup"/-->
  </complexType>
  <!-- ====================== TVPMeasurementMetadata ======================= -->
  <element name="TVPMeasurementMetadata" type="wml2:TVPMeasurementMetadataType" substitutionGroup="wml2:TVPMetadata"/>
  <!-- ..................................................................... -->
  <complexType name="TVPMeasurementMetadataType">
    <complexContent>
      <extension base="wml2:TVPMetadataType">
        <sequence>
          <!-- BRO commented out:
          <element name="uom" type="swe:UnitReference" minOccurs="0">
            <annotation>
              <documentation>
                Defines the default unit of measure across the series. The uom
                code is specified using the UCUM code.
              </documentation>
            </annotation>
          </element>
          -->
          <element name="interpolationType" type="gml:ReferenceType" minOccurs="0">
            <annotation>
              <documentation>
                The interpolation type of the time series point. This describes
                the nature of the value to the time with which it is associated.
                E.g. average in the preceeding interval. The URL codes are
                available at http://www.opengis.net/def/waterml/2.0/interpolationType/
              </documentation>
            </annotation>
          </element>
          <element name="censoredReason" type="gml:ReferenceType" minOccurs="0">
            <annotation>
              <documentation>
                Specifies the reason the value has been censored. e.g. left/right censoring,
              </documentation>
            </annotation>
          </element>
          <!-- BRO commented out:
          <element name="accuracy" type="swe:QuantityPropertyType" minOccurs="0">
            <annotation>
              <documentation>Used to specify the accuracy of a single value. </documentation>
            </annotation>
          </element>
          <element name="aggregationDuration" type="duration" minOccurs="0">
            <annotation>
              <documentation>
                Describes the temporal aggregation that has occured to the value.
              </documentation>
            </annotation>
          </element>
          -->
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <!-- ..................................................................... -->
  <complexType name="TVPMeasurementMetadataPropertyType">
    <sequence>
      <element ref="wml2:TVPMeasurementMetadata"/>
    </sequence>
    <!-- BRO: commented out: attributeGroup ref="gml:OwnershipAttributeGroup"/-->
  </complexType>
  <!-- ====================== Default point metadata ======================= -->
  <!-- Measurement uses the same TVP types;   -->
  <!-- Categorical uses extended version of base TVP metadata, adding codeSpace -->
  <!-- BRO: commented out:
  <element name="DefaultTVPMetadata" type="wml2:TVPMetadataType"/>
  -->
  <!-- ..................................................................... -->
  <!-- BRO: commented out:
  <element name="DefaultTVPMeasurementMetadata" type="wml2:TVPMeasurementMetadataType" substitutionGroup="wml2:DefaultTVPMetadata"/>
  -->
  <!-- ..................................................................... -->
  <!-- BRO: commented out:
  <element name="DefaultTVPCategoricalMetadata" type="wml2:DefaultCategoricalTVPMetadataType" substitutionGroup="wml2:DefaultTVPMetadata"/>
  -->
  <!-- ..................................................................... -->
  <!-- BRO: commented out:
  <complexType name="DefaultCategoricalTVPMetadataType">
    <complexContent>
      <extension base="wml2:TVPMetadataType">
        <sequence>
          <element name="codeSpace" type="anyURI" minOccurs="0">
            <annotation>
              <documentation>
                Defines the default codeSpace for the category timeseries
              </documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  -->
  <!-- ..................................................................... -->
  <!-- BRO: commented out:
  <complexType name="DefaultTVPMetadataPropertyType">
    <sequence minOccurs="0">
      <element ref="wml2:DefaultTVPMetadata"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  -->
  <!-- BRO: commented out: attributeGroup ref="gml:OwnershipAttributeGroup"/-->
  <!-- BRO: commented out:
  </complexType>
  -->
  <!-- ======================== TVPDefaultMetadata ========================= -->
  <!-- BRO: commented out:
  <complexType name="TVPDefaultMetadataPropertyType">
    <sequence>
      <element ref="wml2:DefaultTVPMetadata"/>
    </sequence>
  -->
  <!-- BRO: commented out: attributeGroup ref="gml:OwnershipAttributeGroup"/-->
  <!-- BRO: commented out:
  </complexType>
  -->
  <!-- ======================== TimeseriesMetadata ========================= -->
  <!-- BRO: commented out:
  <element name="TimeseriesMetadata" type="wml2:TimeseriesMetadataType"/>
  -->
  <!-- ..................................................................... -->
  <!-- BRO: commented out:
  <complexType name="TimeseriesMetadataType">
    <sequence>
      <element name="temporalExtent" type="gml:TimePeriodPropertyType">
        <annotation>
          <documentation>
            Defines the start and end times of the represented time series.
          </documentation>
        </annotation>
      </element>
      <element name="baseTime" type="gml:TimePositionType" minOccurs="0">
        <annotation>
          <documentation>
            Defines the start time for isochronous (equidistant) time series.
            Each point occurs at regular steps (defined by the spacing property).
            If baseTime is specified you must supply a spacing element.
          </documentation>
        </annotation>
      </element>
      <element name="spacing" type="duration" minOccurs="0">
        <annotation>
          <documentation>
            The spacing between points for isochronous or equidistant (equally
            space) points. This is used with the baseTime element to allow
            calculation of time instants.
          </documentation>
        </annotation>
      </element>
      <element name="commentBlock" type="wml2:CommentBlockPropertyType" minOccurs="0" maxOccurs="unbounded">
        <annotation>
          <documentation>
            A comment that applies over a period of time for the time series.
          </documentation>
        </annotation>
      </element>
      <element name="parameter" type="om:NamedValuePropertyType" minOccurs="0" maxOccurs="unbounded">
        <annotation>
          <documentation>
            A named-value extension point, allowing extra metadata to be
            associated with a timeseries.
          </documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  -->
  <!-- ..................................................................... -->
  <!-- BRO: commented out:
  <complexType name="TimeseriesMetadataPropertyType">
    <sequence>
      <element ref="wml2:TimeseriesMetadata"/>
    </sequence>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  -->
  <!-- =================== MeasurementTimeseriesMetadata =================== -->
  <!-- BRO: commented out:
  <element name="MeasurementTimeseriesMetadata" type="wml2:MeasurementTimeseriesMetadataType" substitutionGroup="wml2:TimeseriesMetadata"/>
  -->
  <!-- ..................................................................... -->
  <!-- BRO: commented out:
  <complexType name="MeasurementTimeseriesMetadataType">
    <complexContent>
      <extension base="wml2:TimeseriesMetadataType">
        <sequence>
          <element name="startAnchorPoint" type="gml:TimePositionType" minOccurs="0">
            <annotation>
              <documentation>The anchor point for the beginning of the series.</documentation>
            </annotation>
          </element>
          <element name="endAnchorPoint" type="gml:TimePositionType" minOccurs="0">
            <annotation>
              <documentation>The anchor point for the end of the series.</documentation>
            </annotation>
          </element>
          <element name="cumulative" type="boolean" minOccurs="0">
            <annotation>
              <documentation>Sets the time series to be a cumulative series.</documentation>
            </annotation>
          </element>
          <element name="accumulationAnchorTime" type="gml:TimePositionType" minOccurs="0">
            <annotation>
              <documentation>Defines the time at which accumulation begins.</documentation>
            </annotation>
          </element>
          <element name="accumulationIntervalLength" type="duration" minOccurs="0">
            <annotation>
              <documentation>Defines the period over which accumulation occurs.</documentation>
            </annotation>
          </element>
          <element name="maxGapPeriod" type="duration" minOccurs="0">
            <annotation>
              <documentation>
                Indicates the maxiumum period allowed between two series before
                interpolation is not possible.
              </documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  -->
  <!-- ..................................................................... -->
  <!-- BRO: commented out:
  <complexType name="MeasurementTSMetadataPropertyType">
    <sequence>
      <element ref="wml2:MeasurementTimeseriesMetadata"/>
    </sequence>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  -->
  <!-- ============================= Timeseries ============================ -->
  <element name="Timeseries" type="wml2:TimeseriesType" substitutionGroup="gml:AbstractFeature">
    <annotation>
      <documentation>
        Describes a time series as a collection of time-value pairs (implements
        TimeseriesTVP model type). A time series is a also a realisation of a
        discrete time coverage as defined by ISO19123 - Coverages.
      </documentation>
    </annotation>
  </element>
  <!-- ..................................................................... -->
  <complexType name="TimeseriesType" abstract="true">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <!-- TODO default metadata wel of niet gebruiken in de BRO? -->
          <!-- BRO: commented out:
          <element name="metadata" type="wml2:TimeseriesMetadataPropertyType" minOccurs="0"/>
          <element name="defaultPointMetadata" type="wml2:TVPDefaultMetadataPropertyType" minOccurs="0" maxOccurs="unbounded"/>
          -->
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <!-- ..................................................................... -->
  <complexType name="TimeseriesPropertyType">
    <sequence minOccurs="0">
      <element ref="wml2:Timeseries"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <!-- BRO: commented out: attributeGroup ref="gml:OwnershipAttributeGroup"/-->
  </complexType>
  <!-- ======================= MeasurementTimeseries ======================= -->
  <!--
	The point element is directly restricted using XML schema types. The metadata
  (wml2:Timeseries/wml2:metadata) is restricted using schematron. This is done
  to maintain element ordering for the metadata element, but schema is used for
  the point to provide better integration with XML tools (and it won't affect
  element ordering.
	-->
  <element name="MeasurementTimeseries" type="wml2:MeasurementTimeseriesType" substitutionGroup="wml2:Timeseries">
    <annotation>
      <documentation>
        Describes a time series as a collection of time-value pairs where the
        value-type is a measurement and associated metadata is specific to
        measurement types.
      </documentation>
    </annotation>
  </element>
  <!-- ..................................................................... -->
  <complexType name="MeasurementTimeseriesType">
    <complexContent>
      <extension base="wml2:TimeseriesType">
        <sequence>
          <element name="point" minOccurs="0" maxOccurs="10000">
            <complexType>
              <sequence>
                <element ref="wml2:MeasurementTVP"/>
              </sequence>
            </complexType>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <!-- ..................................................................... -->
  <complexType name="MeasurementTimeseriesPropertyType">
    <sequence minOccurs="0">
      <element ref="wml2:MeasurementTimeseries"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <!-- ..................................................................... -->
  <!-- ===================== CategoricalTimeseriesType ===================== -->
  <!-- BRO: commented out:
  <element name="CategoricalTimeseries" type="wml2:CategoricalTimeseriesType" substitutionGroup="wml2:Timeseries">
    <annotation>
      <documentation>
        Describes a time series as a collection of time-value pairs where the
        value-type is a category and associated metadata is specific to
        categorical types.
      </documentation>
    </annotation>
  </element>
  -->
  <!-- ..................................................................... -->
  <!-- BRO: commented out:
  <complexType name="CategoricalTimeseriesType">
    <complexContent>
      <extension base="wml2:TimeseriesType">
        <sequence minOccurs="0">
          <element name="point" minOccurs="0" maxOccurs="unbounded">
            <complexType>
              <sequence>
                <element ref="wml2:CategoricalTVP"/>
              </sequence>
            </complexType>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  -->
  <!-- ===================== Time value pair base type ===================== -->
  <!-- The value type is not restricted here but by the sub types for -->
  <!-- the required series types: e..g measures.                      -->
  <!-- This type is the head of the substitution group, the subtypes  -->
  <!-- define the content.                                            -->
  <element name="TimeValuePair" type="wml2:TimeValuePairType"/>
  <!-- ..................................................................... -->
  <complexType name="TimeValuePairType" abstract="true">
    <sequence>
      <element name="time" type="gml:TimePositionType" minOccurs="0">
        <annotation>
          <documentation>The time instant for the data point.</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <!-- ..................................................................... -->
  <element name="MeasurementTVP" type="wml2:MeasureTVPType" substitutionGroup="wml2:TimeValuePair"/>
  <!-- ..................................................................... -->
  <complexType name="MeasureTVPType">
    <complexContent>
      <extension base="wml2:TimeValuePairType">
        <sequence>
          <element name="value" type="wml2:MeasureType" nillable="true" minOccurs="0">
            <annotation>
              <documentation>The value of a measurement timeseries is a measure</documentation>
            </annotation>
          </element>
          <element name="metadata" type="wml2:TVPMeasurementMetadataPropertyType" minOccurs="0"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <!-- ..................................................................... -->
  <!-- BRO: commented out:
  <element name="CategoricalTVP" type="wml2:CategoricalTVPType" substitutionGroup="wml2:TimeValuePair"/>
  -->
  <!-- ..................................................................... -->
  <!-- BRO: commented out:
  <complexType name="CategoricalTVPType">
    <complexContent>
      <extension base="wml2:TimeValuePairType">
        <sequence>
          <element name="value" type="swe:CategoryPropertyType" nillable="true" minOccurs="0">
            <annotation>
              <documentation>The value type is a category</documentation>
            </annotation>
          </element>
          <element name="metadata" type="wml2:TVPMetadataPropertyType" minOccurs="0"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  -->
  <!-- =========== Comment blocks (temporally bounded comments) ============ -->
  <!-- BRO: commented out:
  <element name="CommentBlock" type="wml2:CommentBlockType" substitutionGroup="gml:AbstractObject"/>
  -->
  <!-- ..................................................................... -->
  <!-- BRO: commented out:
  <complexType name="CommentBlockType">
    <sequence>
      <element name="applicablePeriod" type="gml:TimePeriodPropertyType">
        <annotation>
          <documentation>The period over which the comment applies.</documentation>
        </annotation>
      </element>
      <element name="comment" type="string">
        <annotation>
          <documentation>The comment that applies for the period.</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  -->
  <!-- ..................................................................... -->
  <!-- BRO: commented out:
  <complexType name="CommentBlockPropertyType">
    <sequence>
      <element ref="wml2:CommentBlock"/>
    </sequence>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  -->
  <!-- ================== WML2 definition of measure type ================== -->
  <!-- gml:MeasureType is not used as it has as a mandatory attribute uom  -->
  <!-- which means defaulting for uom may not be used. This type also adds -->
  <!-- the censorReason for censored values.                               -->
  <!-- BRO: commented out:
  <element name="value" type="wml2:MeasureType"/>
  -->
  <!-- ..................................................................... -->
  <complexType name="MeasureType">
    <annotation>
      <documentation>
        gml:MeasureType supports recording an amount encoded as a value of XML
        Schema double, together with a units of measure indicated by an attribute
        uom, short for "units Of measure". The value of the uom attribute
        identifies a reference system for the amount, usually a ratio or interval
        scale. OGC WaterML2.0 alters this definition to make uom optional as this
        value is defaulted for a series.
      </documentation>
    </annotation>
    <simpleContent>
      <extension base="double">
        <attribute name="uom" type="swe:UomSymbol"/>
      </extension>
      <!-- Nil reason and censored reason are captured in point/metadata -->
      <!-- BRO: commented out:
      <attribute name="nilReason" type="gml:NilReasonType"/>
      <attribute name="censorReason" type="gml:NilReasonType"/>
      -->
    </simpleContent>
  </complexType>
  <!-- ===================================================================== -->
</schema>
